<div class="jumbotron">
	<ul>
		<li>Intuitive. Get organized as fast as you can think. The easy-to-use interface takes no time to learn, and every action is instantaneous, so there’s nothing standing between you and your sweet productive flow.
		</li>
		<li>Collaborative. Seafplus is great alone, but even better with others. Get the whole group onboard in seconds. See their updates in real time. Never ask “Who’s doing what?” again.
		</li>
		<li>Adapts to You. More than just a to-do list or a task manager, Seafplus is anything you want it to be—a lesson planner, a community bulletin, a repository for inspiration. We support the way you think, not the other way around.
		</li>
	</ul>
</div>